.site-header {
    padding: theme("spacing.4") 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: theme("colors.white");
    z-index: 50;
    border-bottom: 1px solid transparent;
    transition: border-color ease 300ms;

    .site-header__logo {
        max-width: 85px;
        transition: max-width ease-in-out 300ms;
    }

    &.has-scrolled {
        border-color: fade-out($color: #000000, $amount: 0.95);

        .site-header__logo {
            max-width: 70px;
        }
    }
}
